.tabContainer{
    width: 100%;
    position: relative;
}

.tabActive{
    background-color: #1d6bfb;
    color: white;
    border: 1px solid rgb(29, 107, 251);
    width: 100%;
    min-height: 40px;
    font-size: 25px;
    transition: background-color 160ms ease-in;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: -1px 0 5px #1650bd inset;
}

.tabPassive{
    background-color: #1d6bfb;
    color: white;
    border: 1px solid rgb(29, 107, 251);
    width: 100%;
    min-height: 40px;
    font-size: 25px;
    transition: background-color 160ms ease-in;
    font-family: Arial, Helvetica, sans-serif;
}

.tabPassive:hover{
    background-color: rgb(78, 140, 255);
}

.tabPassive:active{
    background-color: rgb(24, 85, 199);
}

.tabUnderlineActive{
    background-color: #FBAD1D;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 8px;
}

.tabUnderlinePassive{
    background-color: #FBAD1D;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 8px;
    opacity: .4;
}