.mainContainer{
    width: 100%;
    display: flex;
}

.chartMainContainer{
    width: 70%;
    min-width: 200px;
}

.categoriesAndChartContainers{
    display: flex;
    min-width: 300px;
}

.dateTabsContainer{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
}

.categoryTabsContainer{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(4, 1fr);
}

.chartContainer{
    width: 100%;
    min-width: auto;
}

.dateHamburgerContainer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: grey;
    cursor: pointer;
}

.dateHamburgerContainer p{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    pointer-events: none;
    user-select: none;
    align-self: center;
}