.categoriesAndChartContainers{
    display: flex;
}

.dateTabsContainer{
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr;
}

.categoryTabsContainer{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(4, 1fr);
}

.chartContainer{
    width: 100%;
}