.calendarMainContainer{
    width: max-content;
    min-height: 300px;
    margin: auto;
    background-color: #83aefd;
}

.monthContainer{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: #1d6bfb;
    padding: 5px;
}

.monthTextContainer{
    grid-column-start: 2;
    grid-column-end: 2;
}

.monthTextContainer:hover{
    cursor: pointer;
    background-color: #3a7fff;
}

.monthText{
    text-align: center;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 4px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    user-select: none;
}

.arrowContainerLeft{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #1d6bfb;
    transition: background-color 150ms ease-in;
}

.arrowContainerRight{
    grid-column-start: 3;
    grid-column-end: 3;
    background-color: #1d6bfb;
    transition: background-color 150ms ease-in;
}

.arrowContainerLeft:hover, .arrowContainerRight:hover{
    background-color: #4786fb;
    cursor: pointer;
}

.arrowContainerRight:hover .arrowRight{
    transform: scale(1.2,1.2) translate(40%, 20%);
}

.arrowContainerLeft:hover .arrowLeft{
    transform: scale(1.2,1.2) translate(-40%, 20%);
}

.arrowContainerLeft:active .arrowLeft{
    border-right-color: #FBAD1D;
}

.arrowContainerRight:active .arrowRight{
    border-left-color: #FBAD1D;
}

.arrowRight, .arrowLeft{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: transform 150ms ease-in, border-color 150ms ease-in;
}

.arrowRight{
    border-left: 10px solid white;
    transform: translate(40%, 40%);
}

.arrowLeft{
    border-right: 10px solid white;
    transform: translate(-40%, 40%);
}

.yearContainer{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: #1d6bfb;
    padding: 5px;
    position: relative;
}

.yearTextContainer{
    grid-column-start: 2;
    grid-column-end: 2;
}

.yearTextContainer:hover{
    cursor: pointer;
    background-color: #3a7fff;
}

.yearText{
    text-align: center;
    margin: 0;
    padding: 16px;
    padding-bottom: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    line-height: 5px;
    pointer-events: none;
    user-select: none;
}

.yearArrowContainerLeft{
    grid-column-start: 1;
    grid-column-end: 1;
}

.yearArrowContainerRight{
    grid-column-start: 3;
    grid-column-end: 3;
}

.yearArrowLeft, .yearArrowRight{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transition: transform 150ms ease-in, border-color 150ms ease-in;
}

.yearArrowLeft{
    border-right: 10px solid white;
    transform: translate(-40%, 40%);
}

.yearArrowRight{
    border-left: 10px solid white;
    transform: translate(40%, 40%);
}

.yearArrowContainerLeft:hover, .yearArrowContainerRight:hover{
    background-color: #4786fb;
    cursor: pointer;
}

.yearArrowContainerRight:hover .yearArrowRight{
    transform: scale(1.2,1.2) translate(40%, 20%);
}

.yearArrowContainerLeft:hover .yearArrowLeft{
    transform: scale(1.2,1.2) translate(-40%, 20%);
}

.yearArrowContainerLeft:active .yearArrowLeft{
    border-right-color: #FBAD1D;
}

.yearArrowContainerRight:active .yearArrowRight{
    border-left-color: #FBAD1D;
}

.daysContainer{
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 40px);
    background-color: #83aefd;
    padding: 10px;
    gap: 5px;
    margin: auto;
    width: max-content;
}

.dayPassive{
    background-color: rgb(226, 226, 226);
    transition: background-color 150ms ease-in;
    border-radius: 3px;
}

.dayActive{
    background-color: #FBAD1D;
    transition: background-color 150ms ease-in;
    border-radius: 3px;
}

.dayPassive:hover{
    background-color: #face7d;
    cursor: pointer;
}

.dayText{
  font-size: 15px;
  color: rgb(116, 116, 116);
  pointer-events: none;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
}

.dayBlank{
    background-color: rgb(168, 168, 168);
    border-radius: 3px;
    color: rgb(207, 207, 207);
    font-family: 'Times New Roman', Times, serif;
}

.weekHeaderText{
    background-color: #9bbeff;
    text-align: center;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: 'Times New Roman', Times, serif;
}

