.daysContainer{
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 40px);
    background-color: #83aefd;
    padding: 10px;
    gap: 5px;
    margin: auto;
    width: max-content;
}

.dayPassive{
    background-color: rgb(226, 226, 226);
    transition: background-color 150ms ease-in;
    border-radius: 3px;
}

.dayActive{
    background-color: #FBAD1D;
    transition: background-color 150ms ease-in;
    border-radius: 3px;
}

.dayPassive:hover{
    background-color: #face7d;
    cursor: pointer;
}

.dayText{
  font-size: 15px;
  color: rgb(116, 116, 116);
  pointer-events: none;
  font-family: 'Times New Roman', Times, serif;
  user-select: none;
}

.dayBlank{
    background-color: rgb(168, 168, 168);
    border-radius: 3px;
    color: rgb(207, 207, 207);
    font-family: 'Times New Roman', Times, serif;
}

